.container {
  flex: 1;
  overflow: hidden;
  background: #f9f9f9;
  cursor: default;
  position: relative;
}
.container[data-tool='pan'] {
  cursor: grab;
}
.svg {
  display: block;
}
.grid {
  pointer-events: none;
}
